<a href="https://colab.research.google.com/github/atikaakter/Atika/blob/master/Iris_Dataset_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
dataset =pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data',names=['sepal_length', 'sepal_width','petal_length', 'petal_width', 'species'])

In [ ]:
dataset

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
#Using pd.Categoical convert species into 0,1,2 code.
#For example: Iris-setosa=0, Iris Versicolour=1, Iris-virginica=2!

dataset['species'] = pd.Categorical(dataset['species']).codes
dataset

     sepal_length  sepal_width  petal_length  petal_width  species
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]

In [ ]:
#frac= fraction
dataset = dataset.sample(frac=1, random_state=1234)
dataset

     sepal_length  sepal_width  petal_length  petal_width  species
44            5.1          3.8           1.9          0.4        0
110           6.5          3.2           5.1          2.0        2
101           5.8          2.7           5.1          1.9        2
27            5.2          3.5           1.5          0.2        0
17            5.1          3.5           1.4          0.3        0
..            ...          ...           ...          ...      ...
30            4.8          3.1           1.6          0.2        0
71            6.1          2.8           4.0          1.3        1
97            6.2          2.9           4.3          1.3        1
22            4.6          3.6           1.0          0.2        0
145           6.7          3.0           5.2          2.3        2

[150 rows x 5 columns]

In [ ]:
#[:120,:4] means training set=120 and testing set=30.

train_input = dataset.values[:120, :4]
train_target = dataset.values[:120, 4]
test_input = dataset.values[120:, :4]
test_target = dataset.values[120:, 4]

In [ ]:
import torch

In [ ]:
torch.manual_seed(1234)

hidden_units = 5

net = torch.nn.Sequential(
 torch.nn.Linear(4, hidden_units),
 torch.nn.ReLU(),
 torch.nn.Linear(hidden_units, 3)
)

In [ ]:
#optimizer updates the weights of the network in a way that will reduce the future loss function values.

criterion = torch.nn.CrossEntropyLoss()
optimizer = torch.optim.SGD(net.parameters(), lr=0.1, momentum=0.9)

In [ ]:
# train
#inputs are features of Iris. For example petal length,width etc.
#targets are code of species.

epochs = 50
for epoch in range(epochs):
 inputs =torch.autograd.Variable(torch.Tensor(train_input).float())
 targets =torch.autograd.Variable(torch.Tensor(train_target).long())
 optimizer.zero_grad()
 out = net(inputs)
 loss = criterion(out, targets)
 loss.backward()
 optimizer.step()
 if epoch == 0 or (epoch + 1) % 10 == 0:
  print('Epoch %d Loss: %.4f' % (epoch + 1, loss.item()))

Epoch 1 Loss: 1.1832
Epoch 10 Loss: 0.6674
Epoch 20 Loss: 0.2537
Epoch 30 Loss: 0.1170
Epoch 40 Loss: 0.0912
Epoch 50 Loss: 0.0820

In [ ]:
import numpy as np

In [ ]:
inputs = torch.autograd.Variable(torch.Tensor(test_input).float())
targets = torch.autograd.Variable(torch.Tensor(test_target).long())

optimizer.zero_grad()
out = net(inputs)
_, predicted = torch.max(out.data, 1)

error_count = test_target.size - np.count_nonzero((targets == predicted).numpy())
print('Errors: %d; Accuracy: %d%%' % (error_count, 100 * torch.sum(targets == predicted) / test_target.size))

Errors: 0; Accuracy: 100%

In [ ]:
torch.sum(targets == predicted)

tensor(30)